*{

  background-color: #7d0633;
  color:#ffffff;
  text-align:center;
}

h1{
  padding-bottom:50px;
  padding-top:50px;
  font-size: 50px;
}

h2{

}
h1,h2{
  text-align:center;
  color:#ffffff;
  font-weight:1000;
}

p{
  padding-top:50px;
  padding-bottom:50px;
  font-size:35px;
}
span{
  padding:20px;
}
#start,#reset{
  font-size:30px;
  padding:35px;
}

#stop{
  font-size:30px;
  padding:35px;
}
.btn:active{
  outline:0px;

}
